<link th:href="@{/static/css/common.css}" type="text/css" rel="stylesheet">
<link th:href="@{/static/css/content.css}" type="text/css" rel="stylesheet">
<link th:href="@{/static/css/fonts.css}" type="text/css" rel="stylesheet">
<link th:href="@{/static/css/layout.css}" type="text/css" rel="stylesheet">
<link th:href="@{/static/css/style.css}" type="text/css" rel="stylesheet">

<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!-- 모바일 하단 -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release-pro/v4.0.0/css/solid.css?key=eedf6c90-ba2c-11ec-bfc8-0242ac140003"> <!-- 모바일 하단 -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release-pro/v4.0.0/css/thinline.css?key=eedf6c90-ba2c-11ec-bfc8-0242ac140003"> <!-- 모바일 하단 -->

<link rel="icon" th:href="@{/static/config/favicon.ico}">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> <!-- swiper CDN -->