<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" lang="en">

    <th:block layout:fragment="content">
        <div class="content">


            <!-- 타이틀 -->
            <dl class="title">
                <dt>
                    <h2>트라이얼</h2>
                    <h3>
                        트라이얼에 관한 다양한 이야기를 할 수 있는 게시판입니다.<br />
                        클린한 커뮤니케이션을 위해 비방하는 게시물은 자제해주세요.
                    </h3>
                </dt>
            </dl>
            <!-- 타이틀 끝 -->


            <!-- 등록/수정 -->
            <form name="addForm" id="addForm" method="post" th:action="@{/trial/enroll}" enctype="multipart/form-data">
                <fieldset>
                    <legend>등록/수정</legend>
                    <div class="board-write">
                        <div>
                            <dl>
                                <dt>제목 <span>*</span></dt>
                                <dd><input name="title" type="text" class="input-box w100p" placeholder="제목을 입력해주세요." /></dd>
                            </dl>
                            <dl>
                                <dt>원고/피고 <span>*</span></dt>
                                <dd>
                                    <div>
                                        <input name="plaintiff" type="text" class="input-box w100p" placeholder="원고 닉네임을 입력해주세요." />
                                        <input name="defendant" type="text" class="input-box w100p" placeholder="피고 닉네임을 입력해주세요." />
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>동영상 첨부 <span>*</span></dt>
                                <dd>
                                    <div class="input-file">
                                        <label>
                                            파일선택
                                            <input type="file" name="video">
                                        </label>
                                        <input type="text" readonly="readonly" title="File Route" id="fileRoute" placeholder="" class="input-box w100p" />
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <h2>상세 정보 입력</h2>
                        <h3>
                            <i class="uil uil-exclamation-triangle"></i>
                            <span>작성하는 법 : </span>
                            우선 소제목에 어떤 부분에 대해 판결을 받고 싶은 지 적으세요. 그 후, 의견 A와 B에 각 대립하는 의견을 적어주시길 바랍니다.
                        </h3>
                        <div class="mt20">
                            <dl>
                                <dt>투표 소제목 <span>*</span></dt>
                                <dd><input name="subheading" type="text" class="input-box w100p" placeholder="소제목을 입력해주세요." /></dd>
                            </dl>
                            <dl>
                                <dt>원고의견 <span>*</span></dt>
                                <dd><input name="plaintiffOpinion" type="text" class="input-box w100p" placeholder="원고의 의견을 입력해주세요." /></dd>
                            </dl>
                            <dl>
                                <dt>피고의견 <span>*</span></dt>
                                <dd><input name="defendantOpinion" type="text" class="input-box w100p" placeholder="피고의 의견을 입력해주세요." /></dd>
                            </dl>
                        </div>

                        <div class="mt20">
                            <div><textarea name="content" cols="" rows="" class="w100p h300" wrap="hard" placeholder="내용을 입력해주세요."></textarea></div>
                        </div>

                        <dl>
                            <dt>
                                트라이얼을 요청할 시 게시물은 판사의 선고가 이뤄진 시간으로 일주일 후에 게시물 삭제가 가능하며 서로의 합의 하에 진행되는 것임을 또한 이 후 일어나는 모든 책임은 본인이 짊어지는 것에 대해 동의하십니까?
                            </dt>
                            <dd>
                                <div class="radio-box">
                                    <input type="radio" name="opt" id="chk1" value="on" checked />
                                    <label for="chk1">예</label>
                                </div>
                                <div class="radio-box ml20">
                                    <input type="radio" name="opt" id="chk2" value="off" />
                                    <label for="chk2">아니오</label>
                                </div>
                            </dd>
                        </dl>

                        <p class="bw-btn-two">
                            <button type="submit"  class="btn-default bg-black w150">등록하기</button>
                            &nbsp;
                            <a th:href="@{/trials}" class="btn-default bg-gray w150">목록으로</a>
                        </p>
                    </div>
                </fieldset>
            </form>
            <!-- 등록/수정 끝 -->

            <script th:inline="javascript" th:src="@{/static/js/trial/write.js}"></script>
        </div>
    </th:block>

</html>