<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" lang="en">

    <th:block layout:fragment="content">
        <div class="content">


            <dl class="mypage-layout">
                <dt>
                    <!-- 내정보 -->
                    <div class="mypage-info">
                        <div class="mi-info">
                            <p>
                                <img src="https://i.pinimg.com/564x/2b/97/d3/2b97d3327ddfb846d34f8e843700eda8.jpg" width="100%" alt="" title="" />
                                <button>편집</button>
                            </p>
                            <div>
                                <h2><i class="uil uil-user"></i> 홍길동 (lawggididid)</h2>
                                <h3><i class="uil uil-calendar-alt"></i> 가입일 (2023.10.10)</h3>
                                <h4><button class="btn-default-m bg-black w100p">로그아웃</button></h4>
                            </div>
                        </div>
                        <div class="mi-menu">
                            <a th:href="@{/my/info}" class="active">- 개인정보수정</a>
                            <a th:href="@{/my/message}">- 알림함</a>
                            <a th:href="@{/my/boards}">- 글목록</a>
                        </div>
                    </div>
                    <!-- 내정보 끝 -->
                </dt>
                <dd>
                    <!-- 마이페이지 - 타이틀 -->
                    <div class="mypage-title">
                        <h2>개인정보수정</h2>
                        <h3>로우지지 회원가입시 다양한 혜택과 서비스를 이용하실 수 있습니다.</h3>
                    </div>
                    <!-- 마이페이지 - 타이틀 끝 -->

                    <!-- 개인정보수정 -->
                    <div class="mypage-info-modify">
                        <dl>
                            <dt>본인인증 <span>*</span></dt>
                            <dd><button class="btn-default bg-black">본인인증</button></dd>
                        </dl>
                        <dl>
                            <dt>아이디 <span>*</span></dt>
                            <dd><input name="" type="text" class="input-box w100p" placeholder="" /></dd>
                        </dl>
                        <dl>
                            <dt>로펌 <span>*</span></dt>
                            <dd><input name="" type="text" class="input-box w100p" placeholder="" /></dd>
                        </dl>
                        <dl>
                            <dt>비밀번호 <span>*</span></dt>
                            <dd><input name="" type="text" class="input-box w100p" placeholder="" /></dd>
                        </dl>
                        <dl>
                            <dt>비밀번호 확인 <span>*</span></dt>
                            <dd><input name="" type="text" class="input-box w100p" placeholder="" /></dd>
                        </dl>
                        <dl>
                            <dt>닉네임 <span>*</span></dt>
                            <dd><input name="" type="text" class="input-box w100p" placeholder="" /></dd>
                        </dl>
                        <dl>
                            <dt>이메일 <span>*</span></dt>
                            <dd><input name="" type="text" class="input-box w100p" placeholder="" /></dd>
                        </dl>
                        <dl>
                            <dt>개인정보 유효기간 <span>*</span></dt>
                            <dd>
                                <div class="mt10 mb10">
                                    <div class="radio-box">
                                        <input type="radio" name="pwRadio" id="pwRadio1" checked />
                                        <label for="pwRadio1">탈퇴시까지</label>
                                    </div>
                                    <div class="radio-box pl30">
                                        <input type="radio" name="pwRadio" id="pwRadio2" />
                                        <label for="pwRadio2">1년</label>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <div style="display: flex">
                            <a href="#" class="btn-default-b bg-pink w49p">정보수정</a>
                            &nbsp;
                            <a href="#" class="btn-default-b bg-black w49p">취소</a>
                        </div>
                    </div>
                    <!-- 개인정보수정 끝 -->
                </dd>
            </dl>


        </div>
    </th:block>

</html>