<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="configFragment">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="naver-site-verification" content="47eb581eba5537bc33a81f3b2569dfd190d6df9b" />
        <meta name="description" content="나의 롤 플레이를 재판해보세요.">

        <meta property="og:description" content="나의 롤 플레이를 재판해보세요." />
        <meta property="og:url" content="https://cground/lawgg" />
        <meta property="og:title" content="LAW GG(로우지지)" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/lawgg-spring/static/config/og.jpg"/>

        <title>LawGG</title>

        <th:block th:replace="common/styles"></th:block>
        <th:block th:replace="common/scripts"></th:block>
    </head>
</th:block>
</html>