<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" lang="en">

    <th:block layout:fragment="content">
        <div class="content">


            <!-- 타이틀 -->
            <dl class="title">
                <dt>
                    <h2>LCK</h2>
                    <h3>
                        LCK에 관한 다양한 이야기를 할 수 있는 게시판입니다.<br />
                        클린한 커뮤니케이션을 위해 비방하는 게시물은 자제해주세요.
                    </h3>
                </dt>
            </dl>
            <!-- 타이틀 끝 -->


            <!-- 베너 -->
            <div class="banner-area01">
                <img th:src="@{/static/images/banner_img03.png}" alt="" title="" />
            </div>
            <!-- 베너 끝 -->


        </div>
    </th:block>

</html>