<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" lang="en">

    <th:block layout:fragment="content">
        <div class="content">


            <!-- 서브메뉴 -->
            <div class="sub-menu">
                <a href="javascript:void(0);" th:classappend="${query.type == null || query.type == 0} ? 'active' : ''">Top</a>
                <a href="javascript:void(0);" th:classappend="${query.type == 1} ? 'active' : ''">JG</a>
                <a href="javascript:void(0);" th:classappend="${query.type == 2} ? 'active' : ''">Mid</a>
                <a href="javascript:void(0);" th:classappend="${query.type == 3} ? 'active' : ''">Bot</a>
                <a href="javascript:void(0);" th:classappend="${query.type == 4} ? 'active' : ''">Spt</a>
            </div>
            <!-- 서브메뉴 끝 -->


            <!-- 타이틀 -->
            <dl class="title">
                <dt>
                    <h2>포지션 게시판</h2>
                    <h3>
                        각 포지션에서 다양한 이야기를 할 수 있는 자유게시판입니다.<br />
                        클린한 커뮤니케이션을 위해 비방하는 게시물은 자제해주세요.
                    </h3>
                </dt>
            </dl>
            <!-- 타이틀 끝 -->


            <!-- 베너 -->
            <div class="banner-area01">
                <img th:src="@{/static/images/banner_img01.png}" alt="" title="" />
            </div>
            <!-- 베너 끝 -->


            <!-- 구분 및 옵션 -->
            <dl class="board-sort-option">
                <dt>
                    <button onclick="changeTopic(event,0)" th:classappend="${query.topic == 0} ? 'active' : ''"><i class="uit uit-check-square"></i> 전체</button>
                    <button onclick="changeTopic(event, 1)" th:classappend="${query.topic == null || query.topic == 1} ? 'active' : ''"><i class="uit uit-check-square"></i> 핫포지션</button>
                </dt>
                <form id="searchForm" method="get" th:action="@{/positions}">
                    <fieldset>
                        <legend>게시물 검색</legend>
                        <dd class="sso-two">
                            <div>
                                <select name="pageNum" class="w80">
                                    <option value="30" th:selected="${query.pageNum == null || query.pageNum == 30}">30개</option>
                                    <option value="50" th:selected="${query.pageNum == 50}">50개</option>
                                    <option value="100" th:selected="${query.pageNum == 100}">100개</option>
                                </select>
                                <input type="hidden" name="type" id="type" th:value="${query.type == null} ? 0 : ${query.type}" >
                                <input type="hidden" name="page" id="page" th:value="${query.page == null} ? 0 : ${query.page}" >
                                <input type="hidden" name="topic" id="topic" th:value="${query.topic == null} ? 1 : ${query.topic}" >
                                <input type="text" name="keyword" id="keyword" title="검색어" th:value="${query.keyword}" placeholder="검색어를 입력하세요." class="input-box w300" />
                                <a class="btn-default bg-black" id="submitButton"><i class="uit uit-search"></i> 검색</a>
                            </div>
                            <p>
                                <a th:href="@{/position/write(type=${query.type})}" class="btn-default bg-black"><i class="uit uit-edit-alt"></i> 글쓰기</a>
                            </p>
                        </dd>
                    </fieldset>
                </form>
            </dl>
            <!-- 구분 및 옵션 끝 -->


            <!-- 리스트 -->
            <div class="board-list">
                <ol class="bl-default">
                    <li>번호</li>
                    <li>제목</li>
                    <li>작성자</li>
                    <li>작성일</li>
                    <li>추천</li>
                    <li>조회</li>
                </ol>
                <ul class="bl-default" th:each="position:${positions}">
                    <li>
                        <th:block th:switch="${position.postType}">
                            <label th:case="99" class="label-default bg-red w50">공지</label>
                            <label th:case="98" class="label-default bg-teal w50">이벤트</label>
                            <label th:case="2" class="label-default bg-purple w50">추천</label>
                            <label th:case="3" class="label-default bg-green w50">베스트</label>
                            <span th:case="*">[[${position.boardId}]]</span>
                        </th:block>

                    </li>
                    <li>
                        <th:block th:switch="${position.postType}">
                            <label th:case="99" class="label-default bg-red w50">공지</label>
                            <label th:case="98" class="label-default bg-teal w50">이벤트</label>
                            <label th:case="2" class="label-default bg-purple w50">추천</label>
                            <label th:case="3" class="label-default bg-green w50">베스트</label>
                        </th:block>

                        <th:block th:if="${position.profile != null}">
                            <em><img th:src="${position.profile}" width="100%" height="100%" alt="" title="" /></em>
                        </th:block>

                        <a th:href="@{/position/{boardId}(boardId=${position.boardId})}">[[${position.title}]]</a>
                        <i class="uil uil-comment-lines"></i> <span>([[${position.commentCount}]])</span>
                        <th:block th:if="${position.isWithinLastHour}">
                            <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" />
                        </th:block>
                    </li>
                    <li><font>작성자 : </font> [[${position.writer}]]</li>
                    <li><font>작성일 : </font> [[${position.formattedDate}]]</li>
                    <li><font>추천 : </font> [[${position.recommendCount}]]</li>
                    <li><font>조회 : </font> [[${position.view}]]</li>
                </ul>
            </div>
            <!-- 리스트 끝 -->


            <!-- 페이지넘버링 -->
            <div class="paging-list" th:with="start=${(positions.number/maxPage)*maxPage + 1}, end=(${(positions.totalPages == 0) ? 1 : (start + (maxPage - 1) < positions.totalPages ? start + (maxPage - 1) : positions.totalPages)})">
                <a th:if="${start > 1}" th:href="@{/positions(page=${start - maxPage - 1}, type=${query.type}, pageNum=${query.pageNum}, topic=${query.topic}, keyword=${query.keyword})}" ><i class="uil uil-angle-left-b"></i></a>

                <th:block th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:text="${page}" th:href="@{/positions(page=${page - 1}, type=${query.type}, pageNum=${query.pageNum}, topic=${query.topic}, keyword=${query.keyword})}" th:classappend="${page == query.page + 1} ? 'active' : ''"></a>
                </th:block>

                <a th:if="${end < positions.totalPages}" th:href="@{/positions(page=${start + maxPage - 1}, type=${query.type}, pageNum=${query.pageNum}, topic=${query.topic}, keyword=${query.keyword})}"><i class="uil uil-angle-right-b"></i></a>
            </div>
            <!-- 페이지넘버링 끝 -->

            <script th:inline="javascript" th:src="@{/static/js/position/list.js}"></script>
        </div>

    </th:block>
</html>