<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" lang="en">

    <th:block layout:fragment="content">
        <div class="content">


            <!-- 서브메뉴 -->
            <div class="sub-menu">
                <a  class="active">Top</a>
                <a >JG</a>
                <a >Mid</a>
                <a >Bot</a>
                <a >Spt</a>
            </div>
            <!-- 서브메뉴 끝 -->


            <!-- 타이틀 -->
            <dl class="title">
                <dt>
                    <h2>포지션 게시판</h2>
                    <h3>
                        각 포지션에서 다양한 이야기를 할 수 있는 자유게시판입니다.<br />
                        클린한 커뮤니케이션을 위해 비방하는 게시물은 자제해주세요.
                    </h3>
                </dt>
            </dl>
            <!-- 타이틀 끝 -->


            <!-- 베너 -->
            <div class="banner-area01">
                <img th:src="@{/static/images/banner_img01.png}" alt="" title="" />
            </div>
            <!-- 베너 끝 -->


            <!-- 구분 및 옵션 -->
            <dl class="board-sort-option">
                <dt>
                    <button class="active"><i class="uit uit-check-square"></i> 전체</button>
                    <button><i class="uit uit-check-square"></i> 핫포지션</button>
                </dt>
                <form name="searchForm" method="post" action="">
                    <fieldset>
                        <legend>게시물 검색</legend>
                        <dd class="sso-two">
                            <div>
                                <select name="" class="w80">
                                    <option value="">30개</option>
                                </select>
                                <input type="text" name="Sstring" title="검색어" value="" placeholder="검색어를 입력하세요." class="input-box w300" />
                                <a class="btn-default bg-black"><i class="uit uit-search"></i> 검색</a>
                            </div>
                            <p>
                                <a th:href="@{/board/write}" class="btn-default bg-black"><i class="uit uit-edit-alt"></i> 글쓰기</a>
                            </p>
                        </dd>
                    </fieldset>
                </form>
            </dl>
            <!-- 구분 및 옵션 끝 -->


            <!-- 리스트 -->
            <div class="board-list">
                <ol class="bl-default">
                    <li>번호</li>
                    <li>제목</li>
                    <li>작성자</li>
                    <li>작성일</li>
                    <li>추천</li>
                    <li>조회</li>
                </ol>
                <ul class="bl-default">
                    <li><label class="label-default bg-red w50">공지</label></li>
                    <li>
                        <label class="label-default bg-red w50">공지</label>
                        <em><img src="https://i.pinimg.com/564x/87/d6/80/87d68022d2bbae70b4601a5dbde3860d.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(23)</span>
                        <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" />
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li><label class="label-default bg-teal w50">이벤트</label></li>
                    <li>
                        <label class="label-default bg-teal w50">이벤트</label>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(23)</span>
                        <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" />
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li><label class="label-default bg-green w50">베스트</label></li>
                    <li>
                        <label class="label-default bg-green w50">베스트</label>
                        <em><img src="https://i.pinimg.com/564x/6c/96/49/6c9649814ee5aec01d599c6d3b8ae9bc.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(23)</span>
                        <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" />
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li><label class="label-default bg-purple w50">추천</label></li>
                    <li>
                        <label class="label-default bg-red w50">추천</label>
                        <em><img src="https://i.pinimg.com/564x/87/d6/80/87d68022d2bbae70b4601a5dbde3860d.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(23)</span>
                        <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" />
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/87/d6/80/87d68022d2bbae70b4601a5dbde3860d.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(23)</span>
                        <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" />
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(23)</span>
                        <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" />
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
                <ul class="bl-default">
                    <li>1.</li>
                    <li>
                        <em><img src="https://i.pinimg.com/564x/8c/bb/7f/8cbb7f9a2029863e27fc1a5b84a703c2.jpg" width="100%" height="100%" alt="" title="" /></em>
                        <a th:href="@{/board}">로우지지 항상 보다 나은 서비스를 위해 최선을 다하고 있습니다.</a>
                        <i class="uil uil-comment-lines"></i> <span>(0)</span>
                    </li>
                    <li><font>작성자 : </font> 홍길동</li>
                    <li><font>작성일 : </font> 2022-07-01</li>
                    <li><font>추천 : </font> 254</li>
                    <li><font>조회 : </font> 1,254</li>
                </ul>
            </div>
            <!-- 리스트 끝 -->


            <!-- 페이지넘버링 -->
            <div class="paging-list">
                <a ><i class="uil uil-angle-left-b"></i></a>
                <a >1</a>
                <a  class="active">2</a>
                <a >3</a>
                <a >4</a>
                <a >5</a>
                <a ><i class="uil uil-angle-right-b"></i></a>
            </div>
            <!-- 페이지넘버링 끝 -->


        </div>

    </th:block>
</html>