<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/default_layout" lang="en">


    <th:block layout:fragment="content">
        <div class="content">
            <meta name="_csrf_header" th:content="${_csrf.headerName}">
            <meta name="_csrf" th:content="${_csrf.token}">

            <!-- 타이틀 -->
            <dl class="title">
                <dt>
                    <h2>포지션 게시판</h2>
                    <h3>
                        각 포지션에서 다양한 이야기를 할 수 있는 자유게시판입니다.<br />
                        클린한 커뮤니케이션을 위해 비방하는 게시물은 자제해주세요.
                    </h3>
                </dt>
            </dl>
            <!-- 타이틀 끝 -->


            <!-- 상세내용 -->
            <div class="board-view">
                <dl class="bv-header">
                    <dt>
                        <h2>[[${position.title}]]</h2>
                        <div>
                            <i class="uit uit-user"></i> 작성자 : [[${position.writer}]] <span th:if="${position.writer == 0}">([[${position.ip}]])</span>
                            &nbsp; · &nbsp;
                            <i class="uit uit-clock"></i> [[${position.writeDt}]]
                            &nbsp; · &nbsp;
                            <i class="uit uit-eye"></i> 조회수 : [[${position.view}]]
                            &nbsp; · &nbsp;
                            <i class="uit uit-heart-sign"></i> 추천 : [[${position.recommendCount}]]
                        </div>
                    </dt>
                    <dd>
                        <button sec:authorize="isAuthenticated()" class="btn-default-s bg-pink" onclick="recommend()"><i class="uit uit-thumbs-up"></i> 추천하기</button>
                        &nbsp;
                        <button class="btn-default-s bg-black" onclick="report()"><i class="uit uit-megaphone"></i> 신고하기</button>
                    </dd>
                </dl>
                <div class="bv-content" >
                    <th:block th:if="${position.files != null && position.files.size() > 0}">
                        <img th:src="${file.path}" th:each="file:${position.files}" style="max-width: 100%; height: auto"  />
                    </th:block>
                    <pre th:utext="${position.content}" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
                </div>
                <dl class="bv-btn">
                    <dt style="display: flex">
                        <th:block th:if="${position.userId + '' == #authentication.name}">
                        <a th:href="@{/position/modify/{boardId}(boardId=${position.boardId})}" class="btn-default-m bg-black">수정</a>
                        &nbsp;
                        <form name="deleteComment" method="post" th:action="@{/position/delete}">
                            <input name="boardId" type="hidden" th:value="${position.boardId}">
                            <button type="submit" class="btn-default-m bg-black">삭제</button>
                        </form>
                        </th:block>
                    </dt>
                    <dd>
                        <a th:href="@{/positions}" class="btn-default-m bg-black">목록으로</a>
                    </dd>
                </dl>
            </div>
            <!-- 상세내용 끝 -->


            <!-- 베너 -->
            <div class="banner-area01">
                <img th:src="@{/static/images/banner_img02.png}" alt="" title="" />
            </div>
            <!-- 베너 끝 -->


            <!-- 댓글 -->
            <div class="board-comment">
                <h2><i class="uil uil-comment-message"></i> 총 댓글 <span th:text="${position.comments.size()}"></span>개</h2>
                <form name="addComment" method="post" th:action="@{/position/comment/enroll}">
                    <div sec:authorize="isAnonymous()">
                        <input type="text" name="loginId" title="" value="" placeholder="아이디를 입력하세요." class="input-box w200" />
                        &nbsp;
                        <input type="password" name="password" title="" value="" placeholder="비밀번호를 입력하세요." class="input-box w200" />
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <input name="loginId" type="hidden" class="input-box w100p" value="oauth" />
                        <input name="password" type="hidden" class="input-box w100p" value="******" />
                    </div>
                    <input name="boardId" type="hidden" th:value="${position.boardId}">
                    <input name="depth" type="hidden" value="1">
                    <dl>
                        <dt>
                            <textarea name="content" cols="" rows="" class="w100p h100" wrap="hard"></textarea>
                        </dt>
                        <dd><button type="submit" >댓글등록</button></dd>
                    </dl>
                </form>
                <ul>
                    <li th:each="comment:${position.comments}" th:classappend="${comment.depth == 2} ? 'bc-cmt' : ''">
                        <dl>
                            <dt>
                                <dl>
                                    <th:block th:if="${comment.profile != null}">
                                        <dt><span><img th:src="${comment.profile}" width="100%" alt="" title="" /></span></dt>
                                    </th:block>
                                    <th:block th:if="${comment.profile} == null">
                                        <dt><span class="bg-green" th:text="${comment.writer.substring(0, 1)}"></span></dt>
                                    </th:block>
                                    <dd>
                                        <h2>[[${comment.writer}]]</h2>
                                        <div>
                                            [[${comment.content}]]
                                        </div>
                                        <p>
                                            <i class="uit uit-clock"></i> [[${comment.regDt}]]
                                        </p>
                                    </dd>
                                </dl>
                            </dt>
                            <dd>
<!--                                <a  class="btn-line-gray-s">수정</a> &nbsp;-->
                                <form name="deleteComment" method="post" th:action="@{/position/comment/delete}">
                                    <input name="boardId" type="hidden" th:value="${position.boardId}">
                                    <input name="commentId" type="hidden" th:value="${comment.boardCommentId}">
                                    <button th:if="${comment.created == 1}" class="btn-line-gray-s">삭제</button> &nbsp;
                                </form>
<!--                                <a  class="btn-line-gray-s">신고</a>-->
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        <!-- 댓글 끝 -->


            <!-- 페이지넘버링 -->
<!--            <div class="paging-list">-->
<!--                <a ><i class="uil uil-angle-left-b"></i></a>-->
<!--                <a >1</a>-->
<!--                <a  class="active">2</a>-->
<!--                <a >3</a>-->
<!--                <a >4</a>-->
<!--                <a >5</a>-->
<!--                <a ><i class="uil uil-angle-right-b"></i></a>-->
<!--            </div>-->
            <!-- 페이지넘버링 끝 -->

            <script th:inline="javascript">
                const boardId = /*[[${position.boardId}]]*/ null;
            </script>

            <script th:inline="javascript" th:src="@{/static/js/position/view.js}"></script>
        </div>
    </th:block>

</html>