<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" lang="en">

    <th:block layout:fragment="content">
        <div class="content">


            <!-- 타이틀 -->
            <dl class="title">
                <dt>
                    <h2>로펌</h2>
                    <h3>
                        로펌에 관한 다양한 이야기를 할 수 있는 게시판입니다.<br />
                        클린한 커뮤니케이션을 위해 비방하는 게시물은 자제해주세요.
                    </h3>
                </dt>
            </dl>
            <!-- 타이틀 끝 -->


            <!-- 베너 -->
            <div class="banner-area01">
                <img th:src="@{/static/images/banner_img02.png}" alt="" title="" />
            </div>
            <!-- 베너 끝 -->


            <!-- 구분 및 옵션 -->
            <dl class="board-sort-option">
                <dt>
                    <div><i class="uil uil-notebooks"></i>&nbsp; 총 <strong th:text="${lawFirms.totalElements}"></strong> 개의 로펌 / 현재페이지 ([[${lawFirms.number}+1]]/[[${lawFirms.totalPages == 0 ? 1 : lawFirms.totalPages}]])</div>
                </dt>
                <form name="searchForm" method="get" th:action="@{/law-firms}">
                    <fieldset>
                        <legend>게시물 검색</legend>
                        <dd class="sso-two">
                            <div>
                                <select name="pageNum" class="w80">
                                    <option value="8" th:selected="${query.pageNum == 8}">8개</option>
                                    <option value="16" th:selected="${query.pageNum == null || query.pageNum == 16}">16개</option>
                                    <option value="32" th:selected="${query.pageNum == 32}">32개</option>
                                </select>
                                <input type="hidden" name="page" id="page" th:value="${query.page == null} ? 0 : ${query.page}" >
                                <input type="text" name="keyword" id="keyword" title="검색어" th:value="${query.keyword}" placeholder="검색어를 입력하세요." class="input-box w300" />
                                <button class="btn-default bg-black"><i class="uit uit-search"></i> 검색</button>
                            </div>
                        </dd>
                    </fieldset>
                </form>
            </dl>
            <!-- 구분 및 옵션 끝 -->


            <!-- 리스트 -갤러리형 -->
            <div class="board-gallery-list">
                <ul>
                    <li th:each="lawFirm : ${lawFirms}" th:onclick="|window.location.href='@{/law-firm/{lawFirmId}(lawFirmId=${lawFirm.lawFirmId})}'|">
                        <p><img th:src="${lawFirm.profile}" width="100%" alt="" title="" /></p>
                        <h2>[[${lawFirm.name}]]</h2>
                    </li>
                </ul>
            </div>
            <!-- 리스트 -갤러리형 끝 -->


            <!-- 페이지넘버링 -->
            <div class="paging-list" th:with="start=${(lawFirms.number/maxPage)*maxPage + 1}, end=(${(lawFirms.totalPages == 0) ? 1 : (start + (maxPage - 1) < lawFirms.totalPages ? start + (maxPage - 1) : lawFirms.totalPages)})">
                <a th:if="${start > 1}" th:href="@{/law-firms(page=${start - maxPage - 1}, pageNum=${query.pageNum}, keyword=${query.keyword})}" ><i class="uil uil-angle-left-b"></i></a>

                <th:block th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:text="${page}" th:href="@{/law-firms(page=${page - 1}, pageNum=${query.pageNum}, keyword=${query.keyword})}" th:classappend="${page == query.page + 1} ? 'active' : ''"></a>
                </th:block>

                <a th:if="${end < lawFirms.totalPages}" th:href="@{/law-firms(page=${start + maxPage - 1}, pageNum=${query.pageNum}, keyword=${query.keyword})}"><i class="uil uil-angle-right-b"></i></a>
            </div>
            <!-- 페이지넘버링 끝 -->


        </div>

        <script th:src="@{/static/js/common/header.js}"></script>
    </th:block>

</html>