<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" lang="en">

    <th:block layout:fragment="content">
        <div class="content">


            <!-- 아이디 찾기  -->
            <div class="idpw-search">
                <div class="member-title pt0">
                    <h2>아이디찾기</h2>
                    <h3 th:if="${ids.size() > 0}">아래의 항목은 유저님의 아이디 찾기 결과 입니다.</h3>
                    <h3 th:if="${ids.size() == 0}">입력하신 이메일로 가입된 아이디가 존재하지 않습니다.</h3>
                </div>
                <div class="is-content">
                    <form th:if="${ids.size() > 0}">
                        <ol>
                            <li th:each="id, iterStat : ${ids}">
                                <div class="radio-box">
                                    <input type="radio" name="pwRadio" th:id="'pwRadio' + ${iterStat.index}" th:value="${id.loginId}" th:disabled="${id.snsType != 0}" th:checked="${id.snsType == 0}"/>
                                    <label th:for="'pwRadio' + ${iterStat.index}">[[${id.snsType == 0 ? id.loginId : id.snsType == 1 ? '구글' : id.snsType == 2 ? '네이버' : '카카오'}]] - (가입일 : [[${#dates.format(id.regDt, 'yyyy-MM-dd')}]])</label>
                                </div>
                            </li>
                        </ol>
                        <p><button type="button" id="resetPasswordBtn" class="btn-default-b bg-black w100p">비밀번호 재설정</button></p>
                    </form>
                    <dl>
                        <dt><a th:href="@{/login}">로그인</a></dt>
                        <dd>|</dd>
                        <dt><a th:href="@{/join/agree}">회원가입</a></dt>
                    </dl>
                </div>
            </div>
            <!-- 아이디 찾기 끝 -->

            <script th:src="@{/static/js/member/idSearchResult.js}"></script>
        </div>
    </th:block>

</html>