<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kr.lg.mapper.TrialCommentTbMapper">

    <select id="findAnonymousAllCommentTrial"  resultType="com.kr.lg.web.querydsl.TrialQ">
        SELECT A.*
        FROM (
                 SELECT
                     tc.trialCommentId,
                     tc.parentId,
                     tc.`order`,
                     tc.depth,
                     tc.writer,
                     tc.content,
                     tc.status,
                     tc.regDt,
                     0 AS 'created',
                     IF(tc.userId IS NULL, 1, 0) AS 'anonymous',
                     tc.ip,
                     IF(tc.userId IS NULL, NULL, (SELECT u.profile FROM UserTb u WHERE tc.userId = u.userId)) AS 'profile',
                     fnc.order_num
                 FROM (
                          SELECT fnc_hierarchi2() AS id, @level AS level , @order_num:=@order_num+1 as 'order_num'
                          FROM (SELECT @start_with := #{rootId}, @id := @start_with, @level := 0, @order_num:=0) vars
                                   JOIN TrialCommentTb
                          WHERE @id IS NOT NULL
                      ) fnc
                          JOIN TrialCommentTb tc ON fnc.id = tc.trialCommentId
             ) A
        WHERE (A.depth = 2 AND A.`status` = 1) OR
            (A.depth = 1 AND A.`status` = 1) OR
            (A.depth = 1 AND A.`status` = 2 AND EXISTS (
                    SELECT 1
                    FROM TrialCommentTb tc2
                    WHERE tc2.parentId = A.trialCommentId AND tc2.`status` = 1
                ))
        order by order_num asc
    </select>

    <select id="findUserAllCommentTrial"  resultType="com.kr.lg.web.querydsl.TrialQ">
        SELECT A.*
        FROM (SELECT tc.trialCommentId,
                     tc.parentId,
                     tc.`order`,
                     tc.depth,
                     tc.writer,
                     tc.content,
                     tc.status,
                     tc.regDt,
                     IF(tc.userId = #{userId}, 1, 0) as 'created', IF(tc.userId IS NULL, 1, 0) AS 'anonymous', tc.ip,
                     IF(tc.userId IS NULL, NULL, (SELECT u.profile FROM UserTb u WHERE tc.userId = u.userId)) AS 'profile',
                     fnc.order_num
              FROM (
                        SELECT fnc_hierarchi2() AS id, @level AS level, @order_num:=@order_num+1 as 'order_num'
                        FROM (SELECT @start_with := #{rootId}, @id := @start_with, @level := 0, @order_num := 0) vars
                             JOIN TrialCommentTb
                    WHERE @id IS NOT NULL
                   ) fnc
                       JOIN TrialCommentTb tc ON fnc.id = tc.trialCommentId) A
        WHERE (A.depth = 2 AND A.`status` = 1)
           OR (A.depth = 1 AND A.`status` = 1)
           OR (A.depth = 1 AND A.`status` = 2 AND EXISTS(
                SELECT 1
                FROM TrialCommentTb tc2
                WHERE tc2.parentId = A.trialCommentId
                  AND tc2.`status` = 1
            ))
        order by order_num asc
    </select>


    <!--

     DROP FUNCTION IF EXISTS fnc_hierarchi2;

    DELIMITER $$

    CREATE FUNCTION  fnc_hierarchi2() RETURNS INT

    NOT DETERMINISTIC

    READS SQL DATA

    BEGIN

        DECLARE v_id INT;
        DECLARE v_parent INT;
        DECLARE CONTINUE HANDLER FOR NOT FOUND SET @id = NULL;

        SET v_parent = @id;
        SET v_id = -1;

        IF @id IS NULL THEN
            RETURN NULL;
        END IF;

        LOOP

        SELECT MIN(trialCommentId)
          INTO @id
          FROM TrialCommentTb
         WHERE parentId = v_parent
           AND trialCommentId > v_id;

        IF (@id IS NOT NULL) OR (v_parent = @start_with) THEN
           SET @level = @level + 1;
        RETURN @id;
        END IF;

        SET @level := @level - 1;

        SELECT trialCommentId, parentId
          INTO v_id , v_parent
            FROM TrialCommentTb
           WHERE trialCommentId = v_parent;

        END LOOP;

    END

    $$

    DELIMITER ;


    -->

</mapper>
