<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" lang="en">

    <div class="main-content">
        <th:block layout:fragment="content">
            <div class="main-visual">
                <dl>
                    <dt>

                        <h2>당신의 티어를 제대로 한번 올리고 싶다면?</h2>
                        <h3>오늘의 <span>HOT</span> 트라이얼</h3>
                        <h4>제목 : 제목제목제목 </h4>
                        <div></div>
                        <p ><button style="cursor: pointer">More <i class="uil uil-arrow-right"></i></button></p>
                    </dt>
                    <dd>
                        <iframe width="100%" height="300"  title="YouTube video player" src="https://s3.ap-northeast-2.amazonaws.com/formmaster-s3/bffc1dc9-8fa2-478b-9b3d-c43243f4f828.webm" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </dd>
                </dl>
            </div>

            <div class="main-trial">
                <div>
                    <h2>트라이얼</h2>
                    <h3>전문가들이 알려주는 제대로된 트라이얼!!</h3>
                    <ul>
                        <li>
                            <p><img src="https://i.pinimg.com/564x/ad/10/8f/ad108f8e82285778b9aa86adbbc4fc09.jpg" width="100%" alt="" title="" /></p>
                            <div>
                                <h2>제목제목제목</h2>
                                <!--              <h3 v-html="truncateString(trial.content,30)"></h3>-->
                                <dl>
                                    <dt><i class="uil uil-clock-two"></i> 2024-08-04</dt>
                                    <dd>
                                        <span><img src="https://i.pinimg.com/564x/b0/2e/50/b02e506b0a3e5f11fada6dd24c179132.jpg" width="100%" alt="" title="" /></span>
                                        <em>홍길동</em>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <p><img src="https://i.pinimg.com/564x/ad/10/8f/ad108f8e82285778b9aa86adbbc4fc09.jpg" width="100%" alt="" title="" /></p>
                            <div>
                                <h2>제목제목제목</h2>
                                <!--              <h3 v-html="truncateString(trial.content,30)"></h3>-->
                                <dl>
                                    <dt><i class="uil uil-clock-two"></i> 2024-08-04</dt>
                                    <dd>
                                        <span><img src="https://i.pinimg.com/564x/b0/2e/50/b02e506b0a3e5f11fada6dd24c179132.jpg" width="100%" alt="" title="" /></span>
                                        <em>홍길동</em>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <p><img src="https://i.pinimg.com/564x/ad/10/8f/ad108f8e82285778b9aa86adbbc4fc09.jpg" width="100%" alt="" title="" /></p>
                            <div>
                                <h2>제목제목제목</h2>
                                <!--              <h3 v-html="truncateString(trial.content,30)"></h3>-->
                                <dl>
                                    <dt><i class="uil uil-clock-two"></i> 2024-08-04</dt>
                                    <dd>
                                        <span><img src="https://i.pinimg.com/564x/b0/2e/50/b02e506b0a3e5f11fada6dd24c179132.jpg" width="100%" alt="" title="" /></span>
                                        <em>홍길동</em>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <p><img src="https://i.pinimg.com/564x/ad/10/8f/ad108f8e82285778b9aa86adbbc4fc09.jpg" width="100%" alt="" title="" /></p>
                            <div>
                                <h2>제목제목제목</h2>
                                <!--              <h3 v-html="truncateString(trial.content,30)"></h3>-->
                                <dl>
                                    <dt><i class="uil uil-clock-two"></i> 2024-08-04</dt>
                                    <dd>
                                        <span><img src="https://i.pinimg.com/564x/b0/2e/50/b02e506b0a3e5f11fada6dd24c179132.jpg" width="100%" alt="" title="" /></span>
                                        <em>홍길동</em>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-position">
                <div>
                    <h2>포지션 게시판</h2>
                    <h3>매일 매일 쌓이는 이야기 포지션 게시판!!</h3>
                    <p>
                        <button class="active">탑</button>
                        <button>정글</button>
                        <button>미드</button>
                        <button>원딜</button>
                        <button>서폿</button>
                    </p>
                    <div class="swiper-area" >
                        <div style="display: flex">
                            <div class="swiper-slide" style="margin-right: auto;">
                                <p><span>타이틀</span></p>
                                <h2>제목</h2>
                                <div>내용내용내용</div>
                                <dl>
                                    <dt>
                                        <i class="uis uis-heart color-pink"></i> 01
                                        <i class="uil uil-eye"></i> 12
                                        <li>
                                            <p><img src="https://i.pinimg.com/564x/ad/10/8f/ad108f8e82285778b9aa86adbbc4fc09.jpg" width="100%" alt="" title="" /></p>
                                            <div>
                                                <h2>제목제목제목</h2>
                                                <!--              <h3 v-html="truncateString(trial.content,30)"></h3>-->
                                                <dl>
                                                    <dt><i class="uil uil-clock-two"></i> 2024-08-04</dt>
                                                    <dd>
                                                        <span><img src="https://i.pinimg.com/564x/b0/2e/50/b02e506b0a3e5f11fada6dd24c179132.jpg" width="100%" alt="" title="" /></span>
                                                        <em>홍길동</em>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>                       </dt>
                                    <dd>
                                        <i class="uil uil-clock-nine"></i> 2024-08-01
                                    </dd>
                                </dl>
                            </div>
                            <div class="swiper-slide" style="margin-right: auto;">
                                <p><span>타이틀</span></p>
                                <h2>제목</h2>
                                <div>내용내용내용</div>
                                <dl>
                                    <dt>
                                        <i class="uis uis-heart color-pink"></i> 01
                                        <i class="uil uil-eye"></i> 12
                                    </dt>
                                    <dd>
                                        <i class="uil uil-clock-nine"></i> 2024-08-01
                                    </dd>
                                </dl>
                            </div>
                            <div class="swiper-slide" style="margin-right: auto;">
                                <p><span>타이틀</span></p>
                                <h2>제목</h2>
                                <div>내용내용내용</div>
                                <dl>
                                    <dt>
                                        <i class="uis uis-heart color-pink"></i> 01
                                        <i class="uil uil-eye"></i> 12
                                    </dt>
                                    <dd>
                                        <i class="uil uil-clock-nine"></i> 2024-08-01
                                    </dd>
                                </dl>
                            </div>
                            <div class="swiper-pagination" slot="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-issue">
                <dl>
                    <dt>
                        <img th:src="@{/static/images/main_issue_img.jpg}" width="100%" alt="" title="" />
                    </dt>
                    <dd>
                        <h2><span>HOT</span> ISSUE</h2>
                        <h3>로우지지에서 리그오브레전드에 대한 핫이슈!를 소개합니다.</h3>
                        <ul>
                              <li style="cursor: pointer"><a >패치 정보 페이지를 구성중입니다.</a></li>
                              <li><a >게임플레이에 대한 단상 : 13.7</a> <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" /></li>
                              <li><a >리그오브레전드 13.1 패치 상점소식</a> <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" /></li>
                              <li><a >[라이엇 스토어] 2023 LCK SPRING 결승 진출전 & 결승전 라이엇 스토어 운영 안내</a> <img th:src="@{/static/images/icn_new02.png}" height="17" alt="" title="" /></li>
                              <li><a >13.7 전략적 팀 전투 패치 노트</a></li>
                              <li><a >리그오브레전드 13.1 패치 상점소식</a></li>
                        </ul>
                        <p><button class="btn-line-gray-m w100" >More <i class="uil uil-arrow-right"></i></button></p>
                    </dd>
                </dl>
            </div>

        </th:block>
    </div>
</html>